
<footer class="mt-10 md:mt-20">
    <div class="bg-slate-600 w-full text-white p-10">
        <p>Mitt företag</p>
        <p class="mt-8 max-w-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum modi dolore, laboriosam eum corporis nemo sed. Facere eligendi quidem quam adipisci expedita vero a id, cumque cupiditate, sit modi assumenda?</p>
    </div>
</footer>

</body>
</html>