
<%- include('partials/head', {title: "Min app"}); %>


<div class="flex">

</div>
<h1 style="<%= style %>"><%= title %></h1>

<p>New here?</p>

<a class="mt-8 inline-block px-4 py-2 bg-blue-300 text-white" href="/signup">Sign up</a>

<%- include('partials/footer'); %>