<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="output.css">

    <title>Inloggad</title>
</head>
<body>
    <h1>Grattis <span style="<%= style %>"> <%= name %> </span> du är inloggad!</h1>

    <p class="mt-10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est veritatis, tenetur vitae facere error iusto molestiae accusamus magni delectus aliquid quasi quisquam qui iure odit alias voluptatem esse? Qui, adipisci.</p>

    <button onclick="getUserName()">Hämta namn</button>

    <script>
        function getUserName(){
            fetch('http://localhost:3000/api/getuser')
            .then(data => {
                return data.json();
            })
            .then(json => {
                console.log(json);
            });
        }
    </script>
</body>
</html>