<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="output.css">

    <title>Logged in</title>
</head>
<body>
    <h1>Grattis <span style="<%= style %>"> <%= name %> </span> du är nu inloggad!</h1>


    <button onclick="getUserName()">Hämta mitt namn</button>

    <script>
        function getUserName(){
            fetch('http://localhost:3000/api/getuser')
            .then(data => {
                return data.json();
            })
            .then(json => {
                console.log(json);
            });
        }
    </script>
</body>
</html>