<%- include('partials/head', {title: 'V채lkommen'} ); %>

    <h1>Grattis!!! <span style="<%= style %>"> <%= name %> </span> du 채r inloggad!</h1>

    <div>
        <p class="mt-10">Lotenetur vitae facere error iusto molestiae accusamus magni delectus aliquid quasi quisquam qui iure odit alias voluptatem esse? Qui, adipisci.</p>
    </div>

    <button class="mt-8 px-4 py-2 bg-blue-300 text-white" onclick="getUserFavoriteColor()">H채mta favoritf채rg</button>

    <script>
        function getUserFavoriteColor(){
            fetch('http://localhost:3000/api/getfavoritecolor')
            .then(data => {
                return data.json();
            })
            .then(json => {
                console.log(json);
            });
        }
    </script>


<%- include('partials/footer'); %>