<%- include('partials/head', {title: "Profile"}); %>

<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-2xl font-bold">Profile</h1>
    <div class="mt-6">
        <p><strong>Name:</strong> <%= name %></p>
        <p><strong>Email:</strong> <%= email %></p>
    </div>
    <div>
    </div>
</div>

<%- include('partials/footer'); %>